*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
h1{
  font-family: 'Luckiest Guy', cursive;
}
p{
  font-family: 'Rowdies', cursive;
}
.dice:hover{
  box-shadow: 5px 10px #888888;
}
.dice,
.select-players{
  height: 80px;
  width: 80px;
  background-color: green;
  color: black;
  font-family: sans-serif;
  font-size: 2.5rem;
  border-radius: 15px;
  margin: 10px;
}
.select-players:hover{
  background-color: #32a852;
}
button{
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin: 20px;
}

.display{
  text-align: center;
  padding:10px;
}
.clicked{
  background-color: #32a852;
}
.conceal{
  opacity: 0;
}
.reveal{
  opacity: 100%;
}
section{
  position: relative;
  top: 60px;
}
