*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  background: #e6ac9c
}
h1{
  font-family: 'Luckiest Guy', cursive;
}
p{
  font-family: 'Rowdies', cursive;
}
/* main{
  position: absolute;
}
header{
  position: relative;
  z-index: 3;
}
.enter-name{
  position: relative;
  z-index: 2;
}
.dice-section{
  position: relative;
  z-index: 1;
} */

.dice:hover{
  box-shadow: 5px 10px #888888;
}

.dice,
.select-players{
  height: 80px;
  width: 80px;
  background-color: green;
  color: black;
  font-family: 'Rowdies', cursive;
  font-size: 2.5rem;
  border-radius: 15px;
  margin: 10px;
}
.select-players:hover{
  background-color: #32a852;
}
button{
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 1rem;
  padding: 5px;
  margin: 20px;
  transition: all 0.3s ease;
  font-family: 'Rowdies', cursive;
  letter-spacing: 1px;
}

.display{
  text-align: center;
  padding:10px;
}
.clicked{
  background-color: #32a852;
}
.conceal{
  opacity: 0;
}
.reveal{
  opacity: 100%;
}
section{
  position: relative;
  top: 60px;
}
.pointy{
  position: relative;
  top: 80px;
  right: 180px;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rowdies', cursive;
}
.name-input,
.name-btn{
  padding: 0.5rem;
  font-size: 1rem;

  /* font-family: 'Rowdies', cursive; */
}
.name-input{
  border-radius: 15px;
  background: #32a852;
  font-family: 'Rowdies', cursive;
  max-width: 100px;
  min-width: 20px;

}
form button{
  /* color: #d88771; */
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url(checked.png);
}



form button:hover{
  background-color: #32a852;
}
